IP=127.0.0.1

PUERTO_MEMORIA=4444

PUERTO_CONSOLA=10577

PUERTO_CPU=36897

PUERTO_FILESYSTEM=37373

ALGORITMO_PLANIFICACION=HRRN

GRADO_MAX_MULTIPROGRAMACION=4

/*IP_MEMORIA=127.0.0.1
IP_FILESYSTEM=127.0.0.1
IP_CPU=127.0.0.1
ESTIMACION_INICIAL=10000
HRRN_ALFA=0.5
RECURSOS=[DISCO, RECURSO_1]
INSTANCIAS_RECURSOS=[1, 2]
*/